/* body { background-image: url( 'images/sandbeach.jpg' ); background-size: 150%; } */
h1 { font-family: Arial; font-size: 30px; margin-bottom:30px; }
a, li { text-decoration: none; }
ul{ -webkit-padding-start: 10px; list-style: none; }
ul a li { color: #333; line-height:18px; font-family: "RobotoDraft","Roboto",sans-serif;
margin-bottom:20px; font-size: 14px; font-weight: 700;  }
ul a li:hover { color: #999; }

div#wrapper {position:absolute;top: 10px;left:10px;width:18%;}
iframe { position:absolute;top:0px;right:0px;width:80%;height:100%;border-width:0px 1px; background-color:#EEE; }
